@if(isLoading) {

    <div class="text-center mt-7">
        <i class="fa fa-spinner fa-spin fa-7x "></i>

    </div>

}@else {<div class="my-16 flex flex-wrap items-center ">

    <div class="w-full lg:w-1/4 text-center">
         <owl-carousel-o [options]="customOptions">

    @for (src of product?.images; track $index) {
      <ng-template carouselSlide [id]="'slide' + $index">
        <img [src]="src"  >
      </ng-template>
    }

  </owl-carousel-o>
    </div>
    <div class="w-full lg:w-3/4">
        <h2 class="text-4xl font-light mb-4">{{product?.title}}</h2>
        <p class="text-gray-500 mb-10">{{product?.description}}</p>

        <span>{{product?.category?.name}}</span>
        <div class="flex justify-between items-center mb-2">
            <span>{{product?.price}} EGP</span>
            <span><i class="fa text-[10px] fa-star text-yellow-400"></i><span class="text-gray-500">{{product?.ratingsAverage}}</span></span>
        </div>

        <button class="w-full bg-main text-white py-1.5 rounded"><i class="fa fa-plus"></i> add to cart</button>
    </div>

</div>}